#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#myMonth {
  fill: white;
  x: 45%;
  y: 15%;
  font-size: 30;
  font-weight: bold;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#myWeekday {
  fill: white;
  x: 30%;
  y: 15%;
  font-size: 30;
  font-weight: bold;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#myDay {
  fill: white;
  x: 60%;
  y: 15%;
  font-size: 30;
  font-weight: bold;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#hr {
  fill: white;
  x: 20%;
  y: 90%;
  font-size: 20;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#steps {
  fill: white;
  x: 40%;
  y: 90%;
  font-size: 20;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#calories {
  fill: white;
  x: 60%;
  y: 90%;
  font-size: 20;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#battery {
  fill: white;
  x: 80%;
  y: 90%;
  font-size: 20;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}

#letter {
  fill: white;
  x: 50%;
  y: 90%;
  font-size: 45;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 12;
}

#time {
  fill: white;
  x: 50%;
  y: 55%;
  font-size: 90;
  font-weight: bold;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 6;
}
#closeMenu {
  width: 50;
  height: 50;
  x: 50%-25;
  y: 80%;
}

#hricon {
  fill: white;
  x: 20%-12;
  y: 75%;
  width: 24;
  height: 24;
}

#stepsicon {
  x: 40%-12;
  y: 75%;
  width: 24;
  height: 24;
  fill: white;
}

#calicon {
  fill: white;
  x: 60%-12;
  y: 75%;
  width: 24;
  height: 24;
}

#bicon {
  x: 80%-15;
  y: 75%;
  width: 24;
  height: 24;
}

#sequence-image {
  width: 276;
  height: 150;
}

#circ {
  display: none;
  z-index: 10;
}
